@import '~bootstrap/scss/functions';
@import '../helpers/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap';

#app {
  margin-top: 50px;
}

.close {
  font-size: 18px;
}

.completed {
  text-decoration: line-through;
}
